<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-admin}">
<head>
    <title>Mi Perfil</title>
</head>
<body>

    <h1 layout:fragment="page-title" class="page-title">Mi usuario</h1>

    <div layout:fragment="content">
        <!-- Todo el contenido del perfil aquí -->
        <div class="perfil-container">
            <!-- ... (igual que antes) ... -->
        </div>
    </div>

    <th:block layout:fragment="scripts-extra">
        <script>
            function toggleEdicion() {
                // ... tu código ...
            }
        </script>
    </th:block>

</body>
</html>