<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - CasaJusta">CasaJusta</title>
    
    <link rel="stylesheet" th:href="@{/css/header-nav.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-base.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-slider.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-filtros-cards.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-convivencia.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-botones.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-cards.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario-responsive.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <th:block layout:fragment="head-extra"></th:block>
</head>
<body>

    <!-- HEADER + NAVBAR -->
    <div th:replace="~{fragmentos/header/header-usuario :: header-usuario}"></div>

    <!-- CONTENIDO PRINCIPAL -->
    <main class="main-container" layout:fragment="content">
    </main>

    <!-- FOOTER -->
    <div th:replace="~{fragmentos/footer/footer :: footer-principal}"></div>

    <script th:src="@{/js/vista_usuario.js}"></script>
    <th:block layout:fragment="scripts-extra"></th:block>

</body>
</html>
