.header-tituluaren-container {
    /* Centrar contenido horizontal y verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Borde negro visible */
    border: 2px 2px 2px 20px solid black;
    
    /* Espaciado */
    padding: 10px;

    
    /* Fondo para que se vea */
    color:white;
    background-color:#003d7a;
}
.header-orriaren-izena{
    text-align: center;

}

#titulua {
    margin: 0;
    color: #333;
}