<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
    
    <nav th:fragment="navbar_vista_casas_usuarios"  class="nav-menu">
        <div class="navbar-content">
            <a th:href="@{/vista_casas_usuario}" class="nav-link active">Inicio</a>
            <a href="#" class="nav-link">Filtros</a>
            <a href="#" class="nav-link">Alquiler/Compra</a>
            <a href="#" class="nav-link">Rango de precio</a>
        <div class="user-icon">
            <i class="fas fa-user-circle"></i>
            <span th:if="${username != null}" th:text="${username}">Usuario</span>
        </div>
        </div>
    </nav>
</body>
</html>